<!doctype html>

<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About PORTFOLIOs</title>

    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'additionalcss/about.css' %}" rel="stylesheet">

    <style>
        body {
            background-position: center;
            background-attachment: fixed;
        }
        
        .car {
            margin-bottom: 50px;
        }
        
        .bg-image {
            margin-bottom: 40px;
        }
        
        .welcome {
            font-size: 50px;
        }
    </style>

</head>

<body class="d-flex h-100 text-center text-white" style="background-image: url({% static 'images/bg-01.png' %});, -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;">

    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class=" mb-5">
            <div>
                <h3 class="float-md-start mb-0">PRTFOLIOs</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active " aria-current="page" href="#">About</a>
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                    <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                </nav>
            </div>
        </header>

        <div class="bg-image">
            <div class=" mb-3">
                <img src="{% static 'images/logo.png' %} " width="280 " height="280 ">
            </div>

            <div class="welcome">
                <b>WELCOME TO PRTFOLIOS</b>
            </div>
        </div>

        <main id="carouselControls" class="carousel slide p-5 px-3 text-center car" data-bs-ride="carousel">

            <div class="carousel-inner w-150 p-3">
                <div class="carousel-item active " data-bs-interval="5000">
                    <h1></h1>
                    <p class="lead fs-4">Easily create and update your portfolios
                        <br>and share them with a single link.</p>
                </div>

                <div class="carousel-item" data-bs-interval="5000">
                    <div class="text-center ">
                        <div class=" ">
                            <img src="{% static 'images/templates.png' %} " alt="Feature 01 " width="60 " height="60">
                        </div>
                        <div class=" ">
                            <h4 class="mt-24 ">TEMPLATES</h4>
                            <p class="text-sm mb-0 ">Just choose from our multiple templates.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" data-bs-interval="5000">
                    <div class=" text-center ">
                        <div class=" ">
                            <div class=" ">
                                <img src="{% static 'images/registration.jpg' %} " alt="Feature 02 " width="60 " height="60 ">
                            </div>
                            <h4 class="mt-24 ">REGISTRATION</h4>
                            <p class="text-sm mb-0 ">Fill in your details
                            </p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" data-bs-interval="5000">
                    <div class="text-center ">
                        <div class=" ">
                            <div class=" ">
                                <img src="{% static 'images/download.jfif' %} " alt="Feature 03 " width="60 " height="60 ">
                            </div>
                            <h4 class="mt-24 ">GET YOUR PORTFOLIO</h4>
                            <p class="text-sm mb-0 ">Download or share your portfolio with a single link
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <div class="mb-3">
                        <p class="lead fs-4">Don't have an account?
                            <br><a href="{% url 'register' %}">GET STARTED</a></p>
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            </div>
        </main>



        <footer class="mt-auto text-center text-white-50">

            <p class="copyright "> © PRTFOLIOs<br>Find us on <a href="https://github.com/sheikhhuzaif/portfolio_app" class="text-black ">Github</a></p>
        </footer>

</body>

</html>