<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>Enter your details</title>
  {% load static %}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'additionalcss/about.css' %}">
  <script src="{% static 'additionaljs/edit.js' %}"></script>

</head>

<body class="d-flex text-left text-white"
  style="background-image: linear-gradient(to bottom right, rgb(3, 0, 190), rgb(189, 7, 180));">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <nav class="nav nav-masthead justify-content-center float-md">
          <a class="nav-link active" href="#PD">Personal Details</a>
          <a class="nav-link" href="#qual">Qualifications</a>
          <a class="nav-link" href="#skills">Skills</a>
          <a class="nav-link" href="#exp">Work Experience</a>
          <a class="nav-link" href="#social">Social</a>
        </nav>
      </div>
    </header>

    <div class="container">
      <form class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" id="regForm" action="" method="POST">
        {% csrf_token %}

        <!-- PERSONAL DETAILS-------------------------------------------------------------->
        <div class="container">
          <h1 id="PD">PERSONAL DETAILS</h1>
          <div class="row g-2">
            <div class="col-md-4">
              <div class="form-floating mb-3">
                <input type="text" name="Fname" class="form-control form-control-sm" id="Fname"
                  placeholder="First Name">
                <label style="color: #000;" for="Fname">First Name</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating mb-3">
                <input type="text" name="Lname" class="form-control form-control-sm" id="Lname" placeholder="Last Name">
                <label style="color: #000;" for="Lname">Last Name</label>
              </div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="text" name="phone" class="form-control" id="phone" placeholder="phone">
            <label style="color: #000;" for="phone">Phone Number</label>
          </div>
          <div class="form-radio mb-3">
            <h4>Gender</h4>
            <div class="form-radio">
              <input class="form-radio-input" type="radio" name="gender" id="" value="Male">
              <label class="form-radio-label" for="gender">
                Male
              </label>
            </div>
            <div class="form-radio">
              <input class="form-radio-input" type="radio" name="gender" id="gender" value="Female">
              <label class="form-radio-label" for="gender">
                Female
              </label>
            </div>
            <div class="form-radio">
              <input class="form-radio-input" type="radio" name="gender" id="gender" value="Other">
              <label class="form-radio-label" for="exampleRadios3">
                Other
              </label>
            </div>
          </div>
          <div class="form-floating mb-3">

            <div class="form-floating mb-3">
              <textarea class="form-control" placeholder="Address" id="address" name="address"
                style="height: 100px"></textarea>
              <label style="color: #000;" for="address">Address</label>
            </div>
            <div class="form-floating">
              <textarea class="form-control" placeholder="About Yourself" id="about" name="about"
                style="height: 100px"></textarea>
              <label style="color: #000;" for="about">About Yourself</label>
            </div>

          </div>

          <div class="mb-3">
            <label for="picture" class="form-label">Upload Your Picture</label>
            <input class="form-control" type="file" id="picture" name="picture">
          </div>
        </div>

        <!-- QUALIFICATIONS----------------------------------------------------------------->
        <div class="container mb-3">
          <h1 id="qual">QUALIFICATIONS</h1>
          <input type="button" class="btn btn-outline-primary btn-sm col-1 float-md-end" value="Add" id="addrow"
          onclick="addRowQual()">
          <div class="" id="qualcontent">
          </div>
        </div>

        <!-- SKILLS------------------------------------------------------------------------->
        <div class="container mb-3">
          <h1 id="skills">SKILLS</h1>
          <input type="button" class="btn btn-outline-primary btn-sm col-1 float-md-end" value="Add" onclick="addRowSkill()">
          <div id="skillcontent">
          </div>
        </div>
          
        <!-- WORK EXPERIENCE---------------------------------------------------------------->
        <div class="container mb-3">
          <h1 id="exp">WORK EXPERIENCE</h1>
          <input type="button" class="btn btn-outline-primary btn-sm col-1 float-md-end" value="Add" id="addrowSocial"
            onclick="addRowWork()">
          <div id="workcontent">
          </div>
        </div>

        <!-- SOCIAL ACCOUNT----------------------------------------------------------------->
        <div class="container mb-3">
          <h1 id="social" >SOCIAL ACCOUNTS</h1>
          <input type="button" class="btn btn-outline-primary btn-sm col-1 float-md-end" value="Add" id="addrowSocial"
            onclick="addRowSocial()">
          <div id="socialcontent">
          </div>
        </div>  

        <button type="submit" class="btn btn-primary"><a href="/view/{{request.user}}/">Submit</a></button>
      </form>
    </div>
  </div>
</body>
</html>