

<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <title>Change Password</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'additionalcss/login.css' %}" rel="stylesheet">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

  <!--===============================================================================================-->
</head>

<body>

  <div class="limiter">
    <div class="container-login100" style="background-image: url({% static 'images/bg-01.png' %});">
      <div class="wrap-login100 p-l-50 p-r-50 p-t-62 p-b-33" style="padding-top: 62px; padding-bottom: 33px;">
        <form class="login100-form validate-form flex-sb flex-w needs-validation"  method="POST" novalidate>
          {% csrf_token %}

          
          <span class="login100-form-title p-b-53 mb-3">
            Change your Password
          </span>

          <div class="input-group wrap-input100 validate-input mb-3" data-validate="Old password is required">
            <input class="input100" type="password" placeholder="Current Password" name="old" required>
            <span class="focus-input100"></span>
          </div>

          <div class="input-group wrap-input100 validate-input mb-3" data-validate="New password is required">
            <input class="input100" type="password" placeholder="New Password" name="new" required>
            <span class="focus-input100"></span>
          </div>

          <div class="container-login100-form-btn m-t-17">
            <button class="login100-form-btn" type="submit" onclick="alertMessage()" style="margin-top: 20px;">
              Submit
            </button>
          </div>

      </div>
      </form>
    </div>
  </div>
  </div>


  <div id="dropDownSelect1"></div>

  <script>
    const alertMessage=function(){
      '{% for message in messages %}'
      var message='{{message}}'
      '{% endfor %}'
      alert(message)
    }
  </script>

  <!--===============================================================================================-->
  <script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
  <script src="{% static 'vendor/daterangepicker/daterangepicker.js' }"></script>
  <!--===============================================================================================-->
  <script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>