{% extends 'base.html' %}
{% load socialaccount %}

{% block content %}
  <h2>Sign up</h2>
  <form method="POST" action="">
      {%csrf_token%}
    <form>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
     <input type="text" class="form-control" name="username" id="username">
  </div>
      <div class="mb-3">
    <label for="email" class="form-label">Email</label>
     <input type="email" class="form-control" name="email" id="email">
  </div>
      <div class="mb-3">
    <label for="password1" class="form-label">Password</label>
     <input type="password" class="form-control" name="password1" id="password1">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    <br>
      <a href="{% provider_login_url 'google' %}">Sign Up with Google</a>
      <br>
    <p>Already have an account, <a href="{% url 'login'%}">Login</a></p>
    <br>
    {% if form.errors %}
      <script >alert({{form.errors}})</script>
      {% endif %}
  </form>
{% endblock %}