{% extends 'base.html' %}

{% block content %}
  <h2>Sign up</h2>
  <form method="POST" action="">
    <form>
  <div class="mb-3">
    <label class="form-label">Username</label>
    {{form.username}}
  </div>
      <div class="mb-3">
    <label class="form-label">Email</label>
    {{form.email}}
  </div>
      <div class="mb-3">
    <label class="form-label">Password</label>
    {{form.password1}}
  </div>
      <div class="mb-3">
    <label class="form-label">Confirm Password</label>
    {{form.password2}}
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    <br>
    <p>Already have an account, <a href="{% url 'login'%}">Login</a></p>
    <br>
    {% if form.errors %}
      <script >alert({{form.errors}})</script>
      {% endif %}
  </form>
{% endblock %}