<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  {% load static %}
  <title>{{user.get_full_name}}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/3/aos/aos.css' %}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link href="{% static 'vendor/3/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/3/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/3/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/3/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'additionalcss/view3.css' %}" rel="stylesheet">


</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <!-- <img src="{{ userInfo.picture.url }}" alt="" class="img-fluid rounded-circle"> -->
        <br><br>
        <h1 class="text-light"><a href="">{{user.get_full_name}}</a></h1>
        <p class="text-light text-center">I'm a {{userInfo.profession}}</p>
        <div class="social-links mt-3 text-center">
          
          {% for s in social %}
          <a href="https://wwww.{{s.link1}}/" class="{{s.get_type}}"><i class="bx bxl-{{s.get_type}}"></i></a>
        {% endfor %}
      </div>
      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#about" class="nav-link scrollto active"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#education" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Education</span></a></li>
          <li><a href="#WorkExp" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Work Experience</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>Learn more about me</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="{{ userInfo.picture.url }}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong>{{userInfo.dob}}<span></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>{{userInfo.phone}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Gender:</strong> {{userInfo.gender}}<span></span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>{{userInfo.age}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>{% for e in education %}{{e.course_name}}. {% endfor %}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{user.email}}</span></li>
                </ul>
              </div>
            </div>
            <p>
             {{userInfo.about}}
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>All what I know</p>
      </div>

      <div class="row skills-content">
          <ul class="skills-items">
              {% for s in skills %}
              <li>{{s.name}}</li><br>
              {% endfor %}
          </ul>


      </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Check My Resume</p>
        </div>
        <div class="row">
          <iframe src="{{ userInfo.resume.url }}" frameborder="0" height="600"></iframe>
      </div>
        

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="education" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>My Alma Matters</p>
        </div>
        <div class="row">
          {% for e in education %}
          <div class="col-lg-4 col-md-6 mt-4">
              <div class="icon-box">
                  <div class="icon"><i class="bx bx-file"></i></div>
                  <h4>{{e.course_name}}</a></h4>
                  <h4>{{e.university}}</h4>
                  <p>{{e.end_time}}</p>
                  <h1>{{e.gpa}}</h1>
              </div>
          </div>
          {% endfor %}

      </div>
      <br><br><br>

        

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="WorkExp" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Work Experience</h2>
          <p>My Past Work</p>
        </div>

        <div class="row">
          {% for w in work %}
          <div class="col-lg-4 col-md-6 mt-4">
              <div class="icon-box">
                  <div class="icon"><i class="bx bx-book-content"></i></div>
                  <h4>{{w.title}}</a></h4>
                  <p>at</p>
                  <h4>{{w.company}}</h4>
                  <p>{{w.start_date}} to {{w.end_date}}</p>
              </div>
          </div>
          {% endfor %}
      </div>

      </div>
    </section><!-- End Services Section -->

    

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>{{userInfo.address}}</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>{{user.email}}</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>{{userInfo.phone}}</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
              </div>
              <div class="text-center"><button class="btn btn-primary" type="submit" onclick="alertMessage()">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/3/aos/aos.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <script src="{% static 'vendor/3/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/3/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/3/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/3/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'vendor/3/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/3/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'vendor/3/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'additionaljs/view3.js' %}"></script>

</body>

</html>